<%- include("partials/header.ejs") %>

<body>
<div class="body">
    <%- include("partials/navbar.ejs")%>

    <div class="base-home">
        <h2>Сервіс отримання даних про погоду</h2>
        <a href="/weather" class="button">Сторінка погоди</a>
    </div>
</div>
</body>

<%- include("partials/footer.ejs") %>